<keypress-events on-cancel="cancel()" close-modal="true" permission-key="{{permissionKey}}" permission="{{resolvePermission(newDemography.ContactID)}}"></keypress-events>
<div ng-if="enableContactSearch">
    <contact-search contact-type="" search-title="Client" on-contact-select="onContactSelect(contactID)" set-shortcut-key="setShortcutKey(enterKeyStop, stopNext, saveOnEnter, stopSave)" set-focus="setFocus(autoFocus)" set-cancel-function="setCancelFunction(cancelFunction)"></contact-search>
</div>
<div class="panel panel-light padding-xsmall padding-bottom-super">

    <div class="panel-body">
        @Html.Partial("../Shared/_DuplicateContact")
        <form role="form" name="ctrl.contactForm" novalidate xen-check-form is-default="true" data-on-save="save(isNext, isMandatory, hasErrors)" stop-save="stopSave" stop-next="stopNext" permission-key="{{permissionKey}}" permission="{{resolvePermission(newDemography.ContactID)}}" server-validate="ServerValidationErrors" set-form-status
              bs-modifiable="true" set-form-mode>
            <div security permission-key="{{permissionKey}}" permission="{{resolvePermission(newDemography.ContactID)}}" permission-mode="readonly">
                <div class="row margin-bottom-small" id="changeLogDiv" ng-if="newDemography.ContactID && changeLogSetting && !isRegistrationState ">
                    <div class="col-md-12">
                        <small><a ng-click="Goto('historylog', {ContactID: newDemography.ContactID})" class="pull-right small">change log</a></small>
                    </div>
                </div>
                <ng-form name="ctrl.contactForm.contactDemographicsForm" novalidate bs-modifiable="true" set-form-status="child">
                    @Html.Partial("_ContactDemographics")
                </ng-form>
                <ng-form name="ctrl.contactForm.registrationAddressForm" novalidate bs-modifiable="true" set-form-status="child">
                    <div class="row padding-top-small">
                        @Html.Partial("../Shared/_Address")
                    </div>
                </ng-form>
                <div class="row section-block padding-bottom-small">
                    <ng-form name="ctrl.contactForm.registrationPhoneForm" novalidate bs-modifiable="true" set-form-status="child">
                        @Html.Partial("../Shared/_Phone")
                    </ng-form>
                    <ng-form name="ctrl.contactForm.registrationEmailForm" novalidate bs-modifiable="true" set-form-status="child">
                        @Html.Partial("../Shared/_Email")
                    </ng-form>
                </div>
            </div>

            <div class="row padding-top-small">
                <div class="col-lg-6">
                    <p class="uppercase subtext"><sup>*</sup> Indicates a required field</p>
                </div>
                <div class="col-lg-6 text-right">
                    <xen-submit id="save" name="save" value="SAVE" is-next="false" mandatory="true" style="btn btn-default btn-lg" permission-key="{{permissionKey}}" permission="{{resolvePermission(newDemography.ContactID)}}"></xen-submit>
                    <xen-submit id="next" name="next" value="NEXT" is-next="true" mandatory="true" style="btn btn-default btn-lg" permission-key="{{permissionKey}}" permission="read" ng-if="controlsVisible"></xen-submit>
                </div>
            </div>
        </form>
    </div>
</div>